#greating{
    color: blue;
    text-align: center;
    margin-top: 20px;
}

#titleTable{
    text-align: center;
    color: green;
    margin-top: 20px;
}
#tasksTable{
    width: 60%;
    margin: auto;
    /* margin-top: 10px; */
    /* border-collapse: collapse; */
}
.rowClass{
    text-decoration: line-through;
    color: gray;
}