#greating{
    color: blue;
    text-align: center;
    margin-top: 20px;
}

#titleTable{
    text-align: center;
    color: green;
    margin-top: 20px;
}
#tasksTable{
    width: 60%;
    margin: auto;
    /* margin-top: 10px; */
    /* border-collapse: collapse; */
}
#inputText{
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #85e7e7;
    margin: 0;
    padding: 0;
}

